* {
    font-family: 'Poppins', sans-serif;
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    background: linear-gradient(#fff);
  }