@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

::selection {
    background-color: #0b372dbb;
}

.logo {
    width: 100px;
}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.search a{
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    display: flex;
    padding: 0;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before, 
.hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;

}

.hamburger .bar::before {
    top: -4.5px;

}

.hamburger .bar::after {
    top: 4.5px;
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bg-img {
    position: absolute;
    width: 145.83%;
    top: calc(50% - 47.55%);
    left: calc(50% + 0.52%);
    z-index: 1;
}

.fog-7 {
    position: absolute;
    z-index: 2;
    width: 98.95%;
    top: calc(50% - 5.2%);
    left: calc(50% + 15.6%);
}

.mountain-10 {
    position: absolute;
    z-index: 3;
    width: 46.45%;
    top: calc(50% + 6.77%);
    left: calc(50% + 11.9%);
}

.fog-6 {
    position: absolute;
    z-index: 4;
    width: 127.6%;
    top: calc(50% + 4.42%);
    left: calc(50% + 0.52%);
}

.mountain-9 {
    position: absolute;
    z-index: 5;
    width: 31.25%;
    top: calc(50% + 12.5%);
    left: calc(50% - 24.47%);
}

.mountain-8 {
    position: absolute;
    z-index: 6;
    width: 47.91%;
    top: calc(50% + 10.93%);
    left: calc(50% - 11.45%);
}

.fog-5 {
    position: absolute;
    z-index: 7;
    width: 23.43%;
    top: calc(50% + 8.33%);
    left: calc(50% + 1.041%);
}

.mountain-7 {
    position: absolute;
    z-index: 10;
    width: 40.62%;
    top: calc(50% + 11.45%);
    left: calc(50% + 21.875%);
}

.text {
    position: absolute;
    z-index: 11;
    top: calc(50% - 16.77%);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto !important; 
}

.text h2 {
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}

.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.mountain-6 {
    position: absolute;
    z-index: 10;
    width: 21.35%;
    top: calc(50% + 3.125%);
    left: calc(50% + 34.375%);
}

.fog-4 {
    position: absolute;
    z-index: 11;
    width: 32.55%;
    top: calc(50% + 12.65%);
    left: calc(50% - 3.125%);
}

.mountain-5 {
    position: absolute;
    z-index: 12;
    width: 35.93%;
    top: calc(50% + 24.58%);
    left: calc(50% + 5.2%);
}

.fog-3 {
    position: absolute;
    z-index: 13;
    width: 83.33%;
    top: calc(50% + 5.729%);
    left: calc(50% - 0.781%);
}

.mountain-4 {
    position: absolute;
    z-index: 14;
    width: 57.29%;
    top: calc(50% + 35.27%);
    left: calc(50% - 23.437%);
}

.mountain-3 {
    position: absolute;
    z-index: 15;
    width: 23.43%;
    top: calc(50% + 4.68%);
    left: calc(50% + 45.83%);
}

.fog-2 {
    position: absolute;
    z-index: 16;
    width: 83.33%;
    top: calc(50% + 5.729%);
    left: calc(50% + 39.583%);
}

.mountain-2 {
    position: absolute;
    z-index: 17;
    width: 36.45%;
    top: calc(50% + 15.458%);
    left: calc(50% + 24.479%);
}

.mountain-1 {
    position: absolute;
    z-index: 18;
    width: 36.45%;
    top: calc(50% + 7.81%);
    left: calc(50% - 40.895%);
}

.sun-rays {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 51.82%;
    pointer-events: none;
}

.black-shadow {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
}

.fog-1 {
    position: absolute;
    z-index: 21;
    width: 121.56%;
    top: calc(100% - 18.489%);
    left: 50%;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
        ellipse at center, 
        rgba(0, 0, 0, 0) 65%, 
        rgba(0, 0, 0, 0.7)
    );
    pointer-events: none;
}

.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}

@media (max-width: 1100px){
    .text h1 {
        font-size: 5.8rem;
    }
    .text h2 {
        font-size: 4.7rem;
    }
}

@media (max-width: 725px){
    .text h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .text h2 {
        font-size: 4.1rem;
        line-height: 1.1;
    }

    header nav {
        padding: 0 1rem;
    }

    .logo {
        width: 75px;
    }

    header ul a {
        font-size: 0.73rem;
        padding: 0 0.9rem;
    }

    .search a {
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }

    .hamburger {
        padding-left: 0.9rem;
    }

    .hamburger a {
        height: 30px;
        width: 30px;
    }

    .bg-img {
        width: initial;
        height: 233.328%;
    }
}

@media (max-width: 520px){
    .text h1 {
        font-size: 3.3rem;
    }
    .text h2 {
        font-size: 2.6rem;
    }
}






