*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppinas', sans-serif;
}

body {
    background-color: #efefef;
}

.bottle, .logo{
    display: none;
}

.container{
    min-height: 100vh;
    display: flex;
}






